/* global setup */
body { 
    font-family: Arial, sans-serif;  
    background-image: url("study world.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0; 
    color: #ffffff;
}
/* nav and header */
header {
    background-color: #d1e8e2;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo-container { 
    width: 150px;
    height: 60px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

nav a {
    color: #ffffff;
    background-color: #31708e;
    padding: 8px 15px;
    text-decoration: none;
    margin-right: 10px;
}
 
/* main content */
section {
padding: 20px;
}

h1 {
    font-size: 40px;
    text-transform: uppercase; 
}


/* the footer */
footer {
    background-color: #fcf9f2;
    color: #000000;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

footer div {
    flex: 1;
    text-align: center;
    min-width: 200px;
}

.copyright {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
}

footer h3 {
    font-size: 16px;
    text-transform: uppercase;
}